:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-border-transparent: rgba(0, 0, 0, 0);
}

html, body, #editor { height: 100%; margin: 0px; }
.mce-edit-area { display: flex !important; flex-flow: column; }
.mce-edit-area iframe { flex: 1 1 auto; }
.mce-tinymce { height: 100%; }
.mce-tinymce.mce-container { height: 100%; border: 0; }
.mce-panel { border: 0; }
.mce-container-body.mce-stack-layout { display: flex; flex-flow: column; height: 100%; }
.mce-stack-layout-item { flex: 0 0 auto; }
.mce-edit-area { flex:1 1 auto; }

/* Whole window area border */
.tox-tinymce {
  border: 0px solid var(--main-border-color) !important;
}

/* Remove toolbar top border */
.tox-tinymce {
  border-top-color: #FFFFFF !important;
  border: 100 !important;
}

/* Toolbar bottom border */
.tox-toolbar__primary {
  background-image: none !important;
  background-color: var(--main-bg-color);
  border-bottom: 1px rgb(235, 235, 235) solid !important;
}

/* Change toolbar icon colors */
.tox-tbtn svg {
  fill: #5f6368 !important;
}

/* Context menu dividers */
.tox .tox-collection--list .tox-collection__group {
  border-color: var(--main-border-transparent) !important;
  border-width: 0px;
}

/* Customize scrollbar appearance (for markdown editor area) */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #aaabab;
}
::-webkit-scrollbar-track:hover {
  background: #f2f2f2;
}

/* Get ride of the markdown sidebar slide in/out animation */
.tox .tox-sidebar--sliding-growing,
.tox .tox-sidebar--sliding-shrinking {
  /*transition: none !important;*/
  transition: width 0.01s ease-out !important;
}

