/* https://www.tiny.cloud/docs/configure/content-appearance/ */
/* https://github.com/tinymce/tinymce-dist/blob/master/skins/content/dark/content.css */

[data-color-theme='dark'] {
  --main-bg-color-100: rgb(33, 33, 33); /* 100% */
  --main-bg-color-95: rgb(44, 44, 44); /* 95% */
  --main-bg-color-90: rgb(53, 53, 53); /* 90% */
  --main-bg-color-80: rgb(73, 73, 73); /* 80% */

  --main-font-color: rgba(250, 250, 250, 100);
  --main-icon-color-100: rgba(250, 250, 250, 100);
  --main-icon-color-90: rgba(232, 232, 232, 100);
  --main-icon-color-80: rgba(209, 209, 209, 100);

  /*--main-accent-color: rgb(195, 107, 219, 100);*/ /* Borders */
  /*--main-accent-color: #087acc;*/ /* Libero Editor blue */
  --main-accent-color: rgb(150, 215, 255);
}

html {
  font-size: 16px;
  background-color: var(--main-bg-color-95);
  
  /* Prevent white flicker when scrolling */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
  color: var(--main-font-color);
  max-width: 750px;
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
  line-height: 1.6;
  /*margin-top: -1.0em;*/
  margin-bottom: 2.0em;
}

a {
  /*color: #8153ed;*/ /* purple */
  /*color: #0074D9;*/ /* CLRS blue */
  color: var(--main-accent-color);
  text-decoration: none;
}
a:visited, a:hover, a:active {
  /*color: #8153ed;*/ /* purple */
  /*color: #0074D9;*/ /* CLRS blue */
  color: var(--main-accent-color);
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient(rgb(50, 50, 50) 0%, rgb(50, 50, 50) 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  /* This isn't working -> */
  &:hover {
    background-image: linear-gradient(
      rgba(#8153ed, 0.45) 0%,
      rgba(#8153ed, 0.45) 100%
    );
    background-size: 1px 1px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /*font-weight: bold;*/
  font-weight: normal;
  line-height: 1.4;
  cursor: text;
  color: var(--main-font-color);
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}
h1 tt,
h1 code {
  font-size: inherit;
}
h2 tt,
h2 code {
  font-size: inherit;
}
h3 tt,
h3 code {
  font-size: inherit;
}
h4 tt,
h4 code {
  font-size: inherit;
}
h5 tt,
h5 code {
  font-size: inherit;
}
h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid rgba(238, 238, 238, 0.5);
}
h2 {
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid rgba(238, 238, 238, 0.5);
}
h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
 font-size: 1em;
  color: #777;
}

hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

blockquote {
  border-left: 4px solid #ddd;
  margin-left: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #fcfcfc;

  > p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

table {
  border: 1px solid #dfe2e5 !important;
  padding: 0;
  word-break: initial;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}
table tr {
  border: 1px solid #dfe2e5 !important;
  margin: 0;
  padding: 0;
}
table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5 !important;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #dfe2e5 !important;
  margin: 0;
  padding: 6px 13px;
}

th, td {
  font-size: 14px;
}

/* Make images always 100% width */

img {
  width: 100%;
  height: auto;
}

/* Customize scrollbar appearance */

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--main-bg-color-95);
}
::-webkit-scrollbar-thumb {
  background: #aaabab;
}

::-webkit-scrollbar-track:hover {
  background: ;
}

code {
  font-size: 14px;
  background: rgba(27, 31, 35, .05);
}

