html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
  color: #5c5962;
  max-width: 750px;
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
  line-height: 1.6;
}

a {
  /*color: #8153ed;*/ /* purple */
  /*color: #0074D9;*/ /* CLRS blue */
  color: #087acc; /* Libero Editor blue */
  text-decoration: none;
}
a:visited, a:hover, a:active {
  /*color: #8153ed;*/ /* purple */
  /*color: #0074D9;*/ /* CLRS blue */
  color: #087acc; /* Libero Editor blue */
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient(#eeebee 0%, #eeebee 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  /* This isn't working -> */
  &:hover {
    background-image: linear-gradient(
      rgba(#8153ed, 0.45) 0%,
      rgba(#8153ed, 0.45) 100%
    );
    background-size: 1px 1px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /*font-weight: bold;*/
  font-weight: normal;
  line-height: 1.4;
  cursor: text;
  color: #27262b;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}
h1 tt,
h1 code {
  font-size: inherit;
}
h2 tt,
h2 code {
  font-size: inherit;
}
h3 tt,
h3 code {
  font-size: inherit;
}
h4 tt,
h4 code {
  font-size: inherit;
}
h5 tt,
h5 code {
  font-size: inherit;
}
h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
h2 {
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
 font-size: 1em;
  color: #777;
}

hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

blockquote {
  border-left: 4px solid #ddd;
  margin-left: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #fcfcfc;

  > p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

table {
  border: 1px solid #dfe2e5 !important;
  padding: 0;
  word-break: initial;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}
table tr {
  border: 1px solid #dfe2e5 !important;
  margin: 0;
  padding: 0;
}
table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5 !important;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #dfe2e5 !important;
  margin: 0;
  padding: 6px 13px;
}

th, td {
  font-size: 14px;
}

/* Make images always 100% width */

img {
  width: 100%;
  height: auto;
}

/* Customize scrollbar appearance */

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #aaabab;
}

::-webkit-scrollbar-track:hover {
  background: #f2f2f2;
}

